.button-prime:hover {
  background: #9070EC;
  color: #ffffff;
}

.button-prime:focus {
  background: #9070EC;
  color: #ffffff;
}

.button-prime:active {
  background: #593CAC;
  color: #ffffff;
}

.button-prime:disabled {
  background: #BDBDBD;
  color: #ffffff;
}

.button-second:hover {
  background: #9070EC;
  color: #ffffff;
}

.button-second:focus {
  background: #9070EC;
  color: #ffffff;
}

.button-second:active {
  background: #593CAC;
  color: #ffffff;
}

.button-second:disabled {
  background: #E2E2E2;
  color: #ffffff;
}
