.button-prime:hover {
  background: #9070ec;
  color: #ffffff;
}

.button-prime:focus {
  background: #9070ec;
  color: #ffffff;
}

.button-prime:active {
  background: #593cac;
  color: #ffffff;
}

.button-prime:disabled {
  background: #bdbdbd;
  color: #ffffff;
}

.button-second:hover {
  background: #9070ec;
  color: #ffffff;
}

.button-second:focus {
  background: #9070ec;
  color: #ffffff;
}

.button-second:active {
  background: #593cac;
  color: #ffffff;
}

.button-second:disabled {
  background: #e2e2e2;
  color: #ffffff;
}
