.catalog {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__products-list {
  margin-bottom: 40px;
}

.catalog__wrapper {
  width: 320px;
  padding: 50px 20px 40px;
}

.catalog__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #7859CF;
  margin-bottom: 4px;
}

.catalog__description {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
