.contacts {
  padding: 20px;
  border-bottom: 1px solid #F0EBFF;
}

.contacts__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  margin-bottom: 20px;
}

.contacts__address {
  margin-bottom: 16px;
}

.contacts__address, .contacts__phone {
  display: block;
  margin-left: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
