.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
}

.copyright__text,
.copyright__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #bdbdbd;
}

.copyright__text {
  margin-right: 3px;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__link-text {
  margin-right: 4px;
}

.copyright__link-image {
  fill: #bdbdbd;
}

.copyright__link:hover {
  color: #7859cf;
}

.copyright__link:focus {
  color: #7859cf;
}

.copyright__link:active {
  color: #593cac;
}

.copyright__link:hover .copyright__link-image {
  fill: #7859cf;
}

.copyright__link:focus .copyright__link-image {
  fill: #7859cf;
}

.copyright__link:active .copyright__link-image {
  fill: #593cac;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 36px 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding: 0 0 40px;
  }
}
