.filter {
  margin-bottom: 20px;
}

.filter__price-slider {
  width: 280px;
  height: 24px;
}

.filter__price-title,
.filter__milk-title,
.filter__country-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 22px;
}

.filter__price-title {
  margin-bottom: 32px;
}

.filter__sorting-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-right: 18px;
}

.filter__milk-label,
.filter__country-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.filter__milk-input:disabled+.filter__milk-label {
  color: #BDBDBD;
}

.filter__country-input:disabled+.filter__country-label {
  color: #BDBDBD;
}

.filter__price-value {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 115px;
  height: 38px;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  background: #FFFFFF;
  border: 2px solid #9070EC;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.filter__price-value::-webkit-outer-spin-button,
.filter__price-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter__price-value:focus {
  outline: 2px solid #593CAC;
}

.filter__price-value:disabled {
  background-color: #F8F8F8;
  border: 2px solid #E2E2E2;
  color: #BDBDBD;
}

.filter__price-value--start {
  margin-right: 44px;
  position: relative;
}

.filter__price {
  position: relative;
  margin-bottom: 24px;
}

.filter__price::after {
  content: "";
  position: absolute;
  top: 88px;
  left: 134px;
  width: 9px;
  height: 2px;
  background-color: #BDBDBD;
}

.filter__buttons-apply,
.filter__buttons-reset {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 160px;
  height: 46px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.filter__buttons-apply {
  background: #7859CF;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.filter__buttons-reset {
  background: #FFFFFF;
  color: #7859CF;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.filter__sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__sorting-select {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #7859CF;
  border: none;
  background: #F8F8F8;
}

.filter__sorting-select:hover {
  background: #F0EBFF;
}

.filter__milk {
  margin-bottom: 22px;
}

.filter__country {
  margin-bottom: 34px;
}

.filter__milk-item:not(:last-child) {
  margin-bottom: 22px;
}

.filter__country-item:not(:last-child) {
  margin-bottom: 20px;
}

// Кастомизируем инпуты-радиокнопки

.filter__milk-input {
  display: none;
}

.filter__milk-label {
  margin-left: 34px;
  position: relative;
}

.filter__milk-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #BDBDBD;
  background-color: #ffffff;
}

.filter__milk-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter__milk-input:checked+.filter__milk-label::before {
  border: 2px solid #7859CF;
}

.filter__milk-input:checked+.filter__milk-label::after {
  background-color: #7859CF;
}

.filter__milk-label:hover::before {
  border: 2px solid #9070EC;
}

.filter__milk-label:hover::after {
  background-color: rgba(120, 89, 207, 0.25);
}

.filter__milk-label:focus::before {
  border: 2px solid #9070EC;
}

.filter__milk-label:focus::after {
  background-color: rgba(120, 89, 207, 0.25);
}

.filter__milk-input:disabled+.filter__milk-label::before {
  border: 2px solid #E2E2E2;
  background-color: #F8F8F8;
}

.filter__milk-input:disabled+.filter__milk-label::after {
  background-color: #F8F8F8;
}

.filter__milk-input:disabled:checked+.filter__milk-label::before {
  border: 2px solid #E2E2E2;
  background-color: #F8F8F8;
}

.filter__milk-input:disabled:checked+.filter__milk-label::after {
  background-color: #E2E2E2;
}

// Кастомизируем инпуты-чекбоксы

.filter__country-input {
  display: none;
}

.filter__country-label {
  margin-left: 54px;
  position: relative;
}

.filter__country-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -54px;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: #BDBDBD;
}

.filter__country-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -52px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.filter__country-input:checked+.filter__country-label::before {
  background-color: #7859CF;
}

.filter__country-input:checked+.filter__country-label::after {
  left: -34px;
}

.filter__country-label:hover::before {
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid #9070EC;
}

.filter__country-label:focus::before {
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid #9070EC;
}

.filter__country-input:disabled+.filter__country-label::before {
  background-color: #E2E2E2;
  border: none;
}

.filter__country-input:disabled+.filter__country-label::after {
  background-color: #F8F8F8;
}

.filter__country-input:disabled:checked+.filter__country-label::before {
  border: none;
}

.filter__country-input:disabled:checked+.filter__country-label::after {
  background-color: #BDBDBD;
}

@media (min-width: $tablet-width) {
  .filter {
    margin-bottom: 40px;
  }

  .filter__container {
    display: flex;
    margin-bottom: 40px;
  }

  .filter__price {
    width: 220px;
    margin-right: 22px;
  }

  .filter__price-value {
    width: 90px;
    height: 40px;
  }

  .filter__price-value--start {
    margin-right: 35px;
  }

  .filter__price::after {
    left: 106px;
  }

  .filter__milk {
    margin-bottom: 0;
    margin-right: 39px;
  }

  .filter__buttons {
    flex-direction: row;
    width: 340px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
  }

  .filter__buttons-apply {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .filter__sorting {
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 318px;
    margin-bottom: 0;
    margin-right: 30px;
  }

  .filter__container {
    flex-direction: column;
    margin-bottom: 0;
    width: 318px;
  }

  .filter__milk {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .filter__price {
    width: 318px;
    margin-right: 0;
  }

  .filter__price-title {
    margin-bottom: 30px;
  }

  .filter__price-value {
    width: 132px;
    height: 40px;
  }

  .filter__price-value--start {
    margin-right: 49px;
  }

  .filter__price::after {
    left: 154px;
    top: 98px
  }

  .filter__buttons {
    width: 318px;
    margin-bottom: 0;
  }

  .filter__buttons-apply {
    margin-right: 18px;
  }

  .filter__sorting {
    position: absolute;
    top: 0;
    right: 0;
  }
}
