.footer__wrapper {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: $desktop-width;
  }
}
