.footer__wrapper {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: $tablet-width;
  }

  .footer__nav-container {
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: $desktop-width;
  }

  .footer__nav-container {
    padding: 0;
  }

  .footer__main-container {
    display: flex;
    padding: 40px 40px 27px;
  }
}
