.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-nav__site,
.footer-nav__media {
  width: 320px;
  padding: 20px 20px 28px;
  border-bottom: 1px solid #F0EBFF;
}

.footer-nav__list {
  margin: 0;
}

.footer-nav__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  margin-bottom: 17px;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 17px;
}

.footer-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
}

.footer-nav__link:hover {
  color: #9070EC;
}

.footer-nav__link:focus {
  color: #9070EC;
}

.footer-nav__link:active {
  color: #593CAC;
}

@media (min-width: $tablet-width) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 29px;
  }

  .footer-nav__site,
  .footer-nav__media {
    width: 223px;
    padding: 0;
    border-bottom: none;
  }

  .footer-nav__site {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer-nav__site,
  .footer-nav__media {
    width: 317px;
  }

  .footer-nav {
    margin-right: 32px;
  }

  .footer-nav__title {
    margin-top: 9px;
  }
}
