.header {
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 12px 0 12px 20px;
  position: relative;
}

.header__logo-wrapper {
  margin-right: 68px;
}

@media (max-width: $mobile-width) {
  .header__logo-text {
    display: none;
  }
}

@media (min-width: $tablet-width) {

  .header__logo-image {
    width: 82px;
    height: 36px;
  }

  .header__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {

  .header__logo-image {
    width: 170px;
    height: 36px;
  }

  .header__logo-text {
    display: block;
  }
}
