.header {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__wrapper {
  width: 320px;
  height: 60px;
  padding: 12px 20px;
  text-align: start;
}

@media (max-width: $mobile-width) {
  .header__logo-text {
    display: none;
  }
}

@media (min-width: $tablet-width) {

  .header {
    width: $tablet-width;
    margin-bottom: 2px;
  }

  .header__wrapper {
    width: $tablet-width;
    height: 80px;
    padding: 22px 20px;
  }

  .header__logo-image {
    width: 82px;
    height: 36px;
  }

  .header__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {

  .header {
    width: $desktop-width;
  }

  .header__wrapper {
    width: $desktop-width;
    padding: 22px 40px;
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__logo-image {
    width: 170px;
    height: 36px;
  }

  .header__logo-text {
    display: block;
  }
}

.header__link {
  position: absolute;
}
