.map__container {
  width: 320px;
  height: 420px;
  background-image: url("..//..//img/map/map-mobile.jpg");
}


@media (min-width: $tablet-width) {
  .map__container {
    width: $tablet-width;
    height: 480px;
    background-image: url("..//..//img/map/map-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    width: $desktop-width;
    height: 540px;
    background-image: url("..//..//img/map/map-desktop.jpg");
  }
}
