.navigation__toggle {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 260px;
  border: none;
}

.navigation__toggle:hover {
  background-color: #f0ebff;
}

.navigation__toggle--open {
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 22px;
    width: 16px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 4px #000000, 0 8px #000000;
  }
}

.navigation__toggle--close {
  &::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 22px;
    width: 16px;
    height: 1.5px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 22px;
    width: 16px;
    height: 1.5px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.navigation__toggle--nojs {
  display: none;
}

.navigation__list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 320px;
  background-color: #ffffff;
  z-index: 2;
}

.navigation__list--open {
  display: block;
}

.navigation__list--close {
  display: none;
}

.navigation__list--nojs {
  position: static;
  display: block;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #f0ebff;
}

.navigation__item:hover {
  background-color: #f0ebff;
}

.navigation__item:first-child {
  border-top: 1px solid #f0ebff;
}

.navigation__link {
  width: 320px;
  padding: 20px 0 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    position: absolute;
    display: flex;
    top: 0;
    left: 169px;
    width: 470px;
    flex-wrap: wrap;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__link {
    width: auto;
    padding: 32px 20px;
    white-space: nowrap;
  }

  .navigation__item {
    border: none;
  }

  .navigation__item:first-child {
    border: none;
  }

  .navigation__link--current {
    color: #7859cf;
    border-bottom: 2px solid #7859cf;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    left: 518px;
    width: 500px;
  }

  .navigation__link {
    margin-right: 21px;
  }
}
