.novelty-item {
  width: 320px;
  height: 656px;
  padding: 310px 20px 20px;
  position: relative;
}

.novelty-item__link-image {
  position: absolute;
  top: 20px;
  left: 20px;
}

.novelty-item__caption {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859CF;
  margin-bottom: 4px;
}

.novelty-item__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  margin-bottom: 10px;
}

.novelty-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.novelty-item__order {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.novelty-item__old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #7859CF;
  margin-right: 6px;
}

.novelty-item__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333
}

.novelty-item__button {
  width: 113px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
