.novelty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novelty__wrapper {
  width: 320px;
  height: 656px;
}

@media (min-width: $tablet-width) {
  .novelty__wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .novelty__wrapper {
    width: 1440px;
    height: 714px;
  }
}
