.novelty-item {
  width: 320px;
  min-height: 656px;
  padding: 310px 20px 60px;
  position: relative;
}

.novelty-item__link-image {
  position: absolute;
  top: 20px;
  left: 20px;
}

.novelty-item__caption {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859CF;
  margin-bottom: 4px;
}

.novelty-item__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  margin-bottom: 10px;
}

.novelty-item__description {
  font-weight: 400;
  min-height: 100px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.novelty-item__order {
  display: flex;
  align-items: center;
}

.novelty-item__price {
  margin-left: 25px;
  margin-right: 20px;
}

.novelty-item__old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #7859CF;
  margin-right: 3px;
}

.novelty-item__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333
}

.novelty-item__button {
  width: 113px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #7859CF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.novelty-item--white {
  background-color: #F3EBE1;
}

.novelty-item--latte {
  background-color: #EAE6FC;
}

.novelty-item--espresso {
  background-color: #E5E6E8;
}


@media (min-width: $tablet-width) {
  .novelty-item {
    width: 768px;
    padding: 60px 80px 0;
  }

  .novelty-item__decore {
    height: 188px;
    width: 768px;
    background-color: #FFFFFF;
    margin-left: -80px;
  }

  .novelty-item__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  .novelty-item__description {
    font-size: 20px;
    line-height: 32px;
  }

  .novelty-item__order {
    margin-bottom: 300px;
    justify-content: center;
  }

  .novelty-item__price {
    margin-left: 0;
  }

  .novelty-item__image {
    width: 476px;
    height: 476px;
  }

  .novelty-item__link-image {
    top: 352px;
    left: 146px;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .novelty-item {
    width: 1440px;
    height: 714px;
    padding: 180px 80px 242px 735px;
  }

  .novelty-item__caption {
    text-align: left;
    margin-bottom: 4px;
  }

  .novelty-item__title {
    text-align: left;
    margin-bottom: 16px;
  }

  .novelty-item__description {
    text-align: left;
    margin-bottom: 40px;
  }

  .novelty-item__order {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .novelty-item__image {
    width: 600px;
    height: 600px;
  }

  .novelty-item__link-image {
    top: 30px;
    left: 105px;
  }

  .novelty-item__decore {
    display: none;
  }
}
