.novelty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novelty-item--white {
  background-color: #F3EBE1;
}

.novelty-item--latte {
  background-color: #EAE6FC;
}

.novelty-item--espresso {
  background-color: #E5E6E8;
}

.novelty__wrapper {
  width: 320px;
  height: 656px;
}
