.pagination-list {
  display: flex;
}

.pagination-list__item:not(:last-child) {
  margin-right: 20px;
}

.pagination-list__button {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7859CF;
  cursor: pointer;
}

.pagination-list__button-image {
  fill: #7859CF;
}

.button-prime:hover .pagination-list__button-image {
  fill: #ffffff;
}

.button-prime:focus .pagination-list__button-image {
  fill: #ffffff;
}

.button-prime:active .pagination-list__button-image {
  fill: #ffffff;
}

.button-prime:disabled .pagination-list__button-image {
  fill: #ffffff;
}

.pagination-list__button-image--next {
  transform: rotate(180deg);
}

.pagination-list__button--current {
  background-color: #F8F8F8;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  cursor: auto;
}

.pagination-list__button-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .pagination-list {
    justify-content: flex-end;
  }

  .pagination-list__button-image {
    display: none;
  }

  .pagination-list__button--next, .pagination-list__button--previous {
    width: auto;
    padding: 8px 20px;
  }

  .pagination-list__button-text {
    display: block;
  }
}

@media (min-width: $desktop-width) {


}

