.product-card {
  width: 280px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 252px 20px 20px;
  position: relative;
}

.product-card:not(:last-child) {
  margin-bottom: 20px;
}

.product-card__link-image {
  position: absolute;
  top: 40px;
  left: 75px;
}

.product-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 4px;
}

.product-card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 18px;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.product-card__order {
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.product-card__button {
  font-family: "Montserrat", "Arial", sans-serif;
  width: 141px;
  height: 36px;
  background-color: #7859CF;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.product-card__button-image {
  margin-right: 6px;
}
