.slider__wrapper {
  width: 280px;
  position: relative;
}

.slider__scale {
  width: 280px;
  height: 2px;
  background-color: #E2E2E2;
  display: flex;
  align-items: center;
}

.slider__bar {
  width: 86%;
  height: 4px;
  background-color: #9070EC;
}

.slider__range-toggle {
  position: absolute;
  top: -12px;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border: 2px solid #9070EC;
  border-radius: 50%;
  cursor: pointer;
}

.slider__range-toggle--min {
  left: 0;
}

.slider__range-toggle--max {
  left: 84%;
}

.slider__range-toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider__range-toggle:active {
  outline: none;
}

.slider__range-toggle:focus {
  outline: none;
}

.slider__range-toggle:hover::after {
  background-color:rgba(120, 89, 207, 0.25);
}

.slider__range-toggle:focus::after {
  background-color:rgba(120, 89, 207, 0.25);
}

.slider__range-toggle:active::after {
  background-color: #7859CF;
}

.slider--disabled .slider__bar {
  background-color: #BDBDBD;
}

.slider--disabled .slider__range-toggle {
  background-color: #F8F8F8;
  border: 2px solid #BDBDBD;
  cursor: default;
}

.slider--disabled .slider__bar {
  background-color: #BDBDBD;
}

.slider--disabled .slider__range-toggle:hover::after,.slider--disabled .slider__range-toggle:focus::after,.slider--disabled .slider__range-toggle:active::after  {
  background-color: #F8F8F8;
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 220px;
  }

  .slider__scale {
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .slider__wrapper {
    width: 318px;
  }

  .slider__scale {
    width: 318px;
  }

}
