.social {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0EBFF;
  padding: 22px 20px;
}

.social__logo {
  margin-right: 47px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  fill: #BDBDBD;
}

.social__link:hover {
  background-color: #F0EBFF;
}

.social__link:hover .social__link-image {
  fill: #7859CF;
}

.social__link:focus {
  background-color: #F0EBFF;
}

.social__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}

@media (max-width: $mobile-width) {
  .social__logo-text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .social {
    height: 100px;
    padding: 42px 20px;
    border-bottom: none;
  }

  .social__logo {
    margin-right: 408px;
  }

  .social__logo-image {
    width: 170px;
  }

  .social__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .social {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-right: 30px;
  }

  .social__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .social__logo-text {
    display: block;
    margin-bottom: 60px;
  }
}
