.social {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0ebff;
  padding: 22px 20px;
}

.social__logo {
  width: 84px;
  margin-right: 36px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  fill: #bdbdbd;
}

.social__link:hover {
  background-color: #f0ebff;
}

.social__link:hover .social__link-image {
  fill: #7859cf;
}

.social__link:focus {
  background-color: #f0ebff;
}

.social__link:active {
  background-color: rgba(120, 89, 207, 0.25);
}

.social__logo-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .social {
    min-height: 110px;
    padding: 51px 20px 40px;
    border-bottom: none;
  }

  .social__logo {
    width: 170px;
    margin-right: 397px;
  }

  .social__logo-image {
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-right: 54px;
    width: 318px;
  }

  .social__logo {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .social__logo-text {
    display: block;
    margin-bottom: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }
}
