.user-list {
  display: flex;
}

.user-list__link {
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list__link-text {
  display: none;
}
